* {
    margin: 0;
    padding: 0;
}

body, html, main {
    height: 100%;
}

body {
    background-color: #333333;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

canvas {
    cursor: none;
    display: block;
    margin: 0 auto;
}