<h1>{{title}}</h1>


<div class="chevalet">
	<table border ='1'>
		<tr>
			<td  width="50"  height="54"> &nbsp; </td>
			<td  width="50"  height="54"> &nbsp; </td>
			<td  width="50"  height="54"> &nbsp; </td>
			<td  width="50"  height="54"> &nbsp; </td>
			<td  width="50"  height="54"> &nbsp; </td>
			<td  width="50"  height="54"> &nbsp; </td>
			<td  width="50"  height="54"> &nbsp; </td>
		</tr>
	</table>
</div>



<div class="chevalet">
	<table border ='1'>
		<tr>
			<td  width="50"  height="54"> &nbsp; </td>
			<td  width="50"  height="54"> &nbsp; </td>
			<td  width="50"  height="54"> &nbsp; </td>
			<td  width="50"  height="54"> &nbsp; </td>
			<td  width="50"  height="54"> &nbsp; </td>
			<td  width="50"  height="54"> &nbsp; </td>
			<td  width="50"  height="54"> &nbsp; </td>
		</tr>
	</table>
</div>



<div class ="panneauInfo">
	<table border = '1'>
		<tr>
			<td width = 400px height = 400px> Nom: <br> Score: <br> timer:</td>
		</tr>
	</table>
</div>